div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border:2px solid black;
    position:absolute;
    /*transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 1s;*/
    transition: all 2s steps(5) 1s;
    transform :scale(1);
   

}
div:hover{
    background-color: red;
    color:white;
    font-size: 20px;
    /*transform :rotate(45deg)*/
    /*transform: translateY(100px);*/
    transform: skew(30deg);
}
div:active{
    background-color: pink;
}